<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/fertresult.css" />
    <title>Document</title>
</head>

<body>
    <div class="parent">
        <div class="menu menu-1">
            <h2><a href="./home">Home</a></h2>
        </div>
        <div class="menu menu-2">
            <h2><a href="./crop-recommend">Crop prediction</a></h2>
        </div>
        <div class="menu menu-3">
            <h2><a href="#">Fertilizer prediction</a></h2>
        </div>
        <div class="menu menu-4">
            <h2><a href="#">Diseases prediction</a></h2>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <p>{{ recommendation }}</p>
        </div>
    </div>
</body>

</html>