<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/guideliststyle.css" />
    <title>Document</title>
</head>

<body>
    <div class="guide-heading">
        <h1>List of plant guide</h1>
    </div>
    <div class="guide-container">
        <div class="cont container-1">
            <div class="content">
                <h1 class="title"><a href="">Tomato</a></h1>
                <p class="des">click the button for the guide</p>
                <a href="{{ url_for('tomato_guide') }}"><button class="btn">Guide me</button><a/>
        </div>
      </div>

      <div class="cont container-2">
        <div class="content">
          <h1 class="title"><a href="">Potato</a></h1>
                <p class="des">click the button for the guide</p>
                <button class="btn">Guide me</button>
            </div>
        </div>
        <div class="cont container-3">
            <div class="content">
                <h1 class="title"><a href="">Brinjal</a></h1>
                <p class="des">click the button for the guide</p>
                <button class="btn">Guide me</button>
            </div>
        </div>
        <div class="cont container-4"></div>
        <div class="cont container-5"></div>
        <div class="cont container-6"></div>
        <div class="cont container-7"></div>
        <div class="cont container-8"></div>
        <div class="cont container-9"></div>
        <div class="cont container-10"></div>
        <div class="cont container-11"></div>
    </div>
</body>

</html>