<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/marketp.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="page-heading">
      <h1>Tamil nadu Vegetable Price Today</h1>
      <h2>04-May-2022</h2>
    </div>
    <div class="price-container">
      <div class="cont continer-1">
        <div class="img img-1"></div>
        <div class="content">
          <h1>tomato</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[0]}}</h1>
        </div>
      </div>
      <div class="cont continer-2">
        <div class="img img-2"></div>
        <div class="content">
          <h1>Beans</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[1]}}</h1>
        </div>
      </div>
      <div class="cont continer-3">
        <div class="img img-3"></div>
        <div class="content">
          <h1>Beetroot</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[2]}}</h1>
        </div>
      </div>
      <div class="cont continer-4">
        <div class="img img-4"></div>
        <div class="content">
          <h1>Bitter</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[3]}}</h1>
        </div>
      </div>
      <div class="cont continer-5">
        <div class="img img-5"></div>
        <div class="content">
          <h1>Bottle</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[4]}}</h1>
        </div>
      </div>
      <div class="cont continer-6">
        <div class="img img-6"></div>
        <div class="content">
          <h1>Brinjal</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[5]}}</h1>
        </div>
      </div>
      <div class="cont continer-7">
        <div class="img img-7"></div>
        <div class="content">
          <h1>Broad Beans</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[6]}}</h1>
        </div>
      </div>
      <div class="cont continer-8">
        <div class="img img-8"></div>
        <div class="content">
          <h1>Cabbage</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[7]}}</h1>
        </div>
      </div>
      <div class="cont continer-9">
        <div class="img img-9"></div>
        <div class="content">
          <h1>Capsicum</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[8]}}</h1>
        </div>
      </div>
      <div class="cont continer-10">
        <div class="img img-10"></div>
        <div class="content">
          <h1>Carrot</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[9]}}</h1>
        </div>
      </div>
      <div class="cont continer-11">
        <div class="img img-11"></div>
        <div class="content">
          <h1>Cauliflower</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[10]}}</h1>
        </div>
      </div>
      <div class="cont continer-12">
        <div class="img img-12"></div>
        <div class="content">
          <h1>Chayote</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[11]}}</h1>
        </div>
      </div>
      <div class="cont continer-13">
        <div class="img img-13"></div>
        <div class="content">
          <h1>Colocasia</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[12]}}</h1>
        </div>
      </div>
      <div class="cont continer-14">
        <div class="img img-14"></div>
        <div class="content">
          <h1>CorianderLeaves</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[13]}}</h1>
        </div>
      </div>
      <div class="cont continer-15">
        <div class="img img-15"></div>
        <div class="content">
          <h1>Cucumber</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[14]}}</h1>
        </div>
      </div>
      <div class="cont continer-16">
        <div class="img img-16"></div>
        <div class="content">
          <h1>Drumstick</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[15]}}</h1>
        </div>
      </div>
      <div class="cont continer-17">
        <div class="img img-17"></div>
        <div class="content">
          <h1>Ginger</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[16]}}</h1>
        </div>
      </div>
      <div class="cont continer-18">
        <div class="img img-18"></div>
        <div class="content">
          <h1>Green Chili</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[17]}}</h1>
        </div>
      </div>
      <div class="cont continer-19">
        <div class="img img-19"></div>
        <div class="content">
          <h1>Green Plantain</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[18]}}</h1>
        </div>
      </div>
      <div class="cont continer-20">
        <div class="img img-20"></div>
        <div class="content">
          <h1>Kohlrabi</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[19]}}</h1>
        </div>
      </div>
      <div class="cont continer-21">
        <div class="img img-21"></div>
        <div class="content">
          <h1>Ladies Finger</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[20]}}</h1>
        </div>
      </div>
      <div class="cont continer-22">
        <div class="img img-22"></div>
        <div class="content">
          <h1>Mint</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[21]}}</h1>
        </div>
      </div>
      <div class="cont continer-23">
        <div class="img img-23"></div>
        <div class="content">
          <h1>Onion</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[22]}}</h1>
        </div>
      </div>
      <div class="cont continer-24">
        <div class="img img-24"></div>
        <div class="content">
          <h1>Onion(small)</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[23]}}</h1>
        </div>
      </div>
      <div class="cont continer-25">
        <div class="img img-25"></div>
        <div class="content">
          <h1>Plantain Flower</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[24]}}</h1>
        </div>
      </div>
      <div class="cont continer-26">
        <div class="img img-26"></div>
        <div class="content">
          <h1>Potato</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[26]}}</h1>
        </div>
      </div>
      <div class="cont continer-27">
        <div class="img img-27"></div>
        <div class="content">
          <h1>Pumpkin</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[27]}}</h1>
        </div>
      </div>
      <div class="cont continer-28">
        <div class="img img-28"></div>
        <div class="content">
          <h1>Radish</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[28]}}</h1>
        </div>
      </div>
      <div class="cont continer-29">
        <div class="img img-29"></div>
        <div class="content">
          <h1>Ridge Gourd</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[29]}}</h1>
        </div>
      </div>
      <div class="cont continer-30">
        <div class="img img-30"></div>
        <div class="content">
          <h1>Scarlet Gourd</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[30]}}</h1>
        </div>
      </div>
      <div class="cont continer-31">
        <div class="img img-31"></div>
        <div class="content">
          <h1>Snake Gourd</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[31]}}</h1>
        </div>
      </div>
      <div class="cont continer-32">
        <div class="img img-32"></div>
        <div class="content">
          <h1>Sweet Potato</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[32]}}</h1>
        </div>
      </div>
      <div class="cont continer-33">
        <div class="img img-33"></div>
        <div class="content">
          <h1>Tapioca</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[33]}}</h1>
        </div>
      </div>
      <div class="cont continer-34">
        <div class="img img-34"></div>
        <div class="content">
          <h1>Yam</h1>
          <h3>1 kg</h3>
        </div>
        <div class="pricestarts">
          <h1>{{pricelist[35]}}</h1>
        </div>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>
