<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/guidetomato.css">
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Readex+Pro&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="guide-header">
        <div class="header-content">
            <h1 class="tomatoes">Tomato Guide</h1>
        </div>
    </div>
    <div class="tomatoExplanation">
        <div class="tomatoExplanation-container">
            <h1>Tomato Cultivation Guide</h1><br>
            <p>Tomato is grown practically in every country of the world in outdoor fields, greenhouses, and net houses. The leading tomato producing countries in the world are China, India, USA, Turkey, Egypt, Iran, Italy, Spain, and Brazil.

            </P><br>
            <P>Tomato is the most widely cultivated crop in India. Tomato is a very important vegetable crop regarding both income and nutrition. Tomatoes are predominantly summer crops, but it can be cultivated throughout the year.

            </P>
        </div>
    </div>
    <div class="tomato-common-detial">

        <div class="common-detail-co1">
            <table>
                <thead>
                    <tr>
                        <th>FAQ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Soiltype:</td>
                        <td>sandy loam soils</td>

                    </tr>
                    <tr>
                        <td>current market price:</td>
                        <td> 50rs</td>
                    </tr>
                    <tr>
                        <td>Total time take for harvest:</td>
                        <td> 1 month</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="content-try">
            <div class="top-common-content">
                <table class="npk-values">
                    <thead>
                        <tr>
                            <th>N - 45</th>
                            <th>P - 30</th>
                            <th>K - 50</th>
                            <th>pH value : 5 - 6</th>
                        </tr>
                    </thead>
                </table>
                <h2 class="season-head">season of planting</h2>
                <p class="season-para">Seeds are sown in June July for autumn winter crop and for spring summer crop seeds are sown in November. In the hills seed is sown in March April.</p>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsec section-2">
            <div class="heading">
                <h1>Soil & Climate</h1>
            </div>
            <div class="explanation">
                <h2>Soil</h2>
                <p>Tomato can be grown on a wide range of soils from sandy to heavy clay. However, well-drained, sandy or red loam soils rich in organic matter with a pH range of 6.0-7.0 are considered as ideal.

                </p>
                <h2>Climate</h2>
                <p>The tomato is warm season crop. The temperature of 20-25 °C is considered to be ideal for tomato cultivation, and the excellent quality red color is developed in tomatoes at 21-24 °C temperature. Due to intense heat (temperature above
                    43 °C), the plants get burnt, and flowers and small fruits also fall, whereas less than 13°C and greater than 35 °C decreases the fruits and the red color production ratio.

                </p>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsecodd section-3">
            <div class="heading-1">
                <h1>Planting</h1>
            </div>
            <div class="explanation">
                <h2>Land Preparation</h2>
                <p>The field is ploughed to fine tilth by giving four to five ploughing with a sufficient interval between two ploughing. Planking should be done for proper levelling. Furrows are then opened at the recommended spacing. Well-decomposed FYM
                    (25 t/ha) is thoroughly incorporated at the time of land preparation.
                </p>
                <h2>Spacing</h2>
                <p>Spacing depends upon the type of variety grown and the season of planting. Normally the seedlings are transplanted at a spacing of 75-90 x 45-60 cm.

                </p>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsec section-4">
            <div class="heading">
                <h1>Planting</h1>
            </div>
            <div class="explanation">
                <h2>Fertilizers And Manure</h2>
                <p>At the time of land preparation, broadcast and thoroughly mix the well-decomposed FYM at 20 to 25 t/ha in the soil Then add a basal fertilizer dose Nitrogen – 60 kg, Phosphorus – 80 kg and Potash -60 kg Potash per hectare. After 30 to
                    45 days of planting, give 30 kg amount of nitrogen to the crop.


                </p>
                <h2>Supporting Tomato Plants (Staking)
                </h2>
                <p>The long growing varieties of tomatoes need to be specially supported. At the time of plant growth, plants should be staking with the help of string or wire. With the help of this support, fruits cannot expose to soil and water; hence
                    there is no problem of tomato fruit rotting so that more production can be obtained.



                </p>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsecodd section-5">
            <div class="heading">
                <h1>Irrigation </h1>
            </div>
            <div class="explanation">
                <h2>Irrigation For Tomato Crop</h2>
                <p>To get maximum yield from tomato crop, use drip irrigation method. During summer give water 6-7-day intervals and in winter season give water after of 10-15 days. If possible, use drip irrigation. With the help of this irrigation method,
                    you can able to save about 60-70 percent of the water and increase 20%-25% more production.




                </p>
                <h2>Weed Control

                </h2>
                <p>First weeding operation star after 20 to 25 days of transplanting. Always maintain clean and weed free farm because weed competes with crop also they provide shelter to the various harmful insect. Mulching is also good option control weed
                    after black plastic (50 microns) mulching is mostly used which controls about 95% weeds. Alternatively, you can use organic mulch like sugar cane trash, which controls about 60% of weeds.




                </p>
            </div>
        </div>
    </div>
    <div class="comp">
        <div class="comp__i1 com">
            <div class="images img1"></div>
        </div>
        <div class="comp__i2 com">
            <div class="images img2"></div>
        </div>
        <div class="comp__i3 com">
            <div class="images img3"></div>
        </div>
    </div>
    <div class="growth-section">
        <div class="harvestcontent">
            <h1>Harvesting</h1>
            <br>
            <p>The first harvesting of plants usually starts in 75 to 90 days from planting. While Considering the market distance and transport mode, tomato fruits should be harvest as follows.

            </p><br><br>
            <h2>1) Green stage:</h2><br>
            <p>If you are sending tomato fruit for long distant market, then harvest at Maturity stage with green colour .

            </p><br><br>
            <h2>2) pink stage:
            </h2><br>
            <p>The tomato should be harvested by changing the color of the green color to the pinkish appeared. It is better to send such fruits to nearby markets.



            </p>
            <br><br>
            <h2>3) Maturity stage:

            </h2><br>
            <p>To sell tomato in the local market, harvest after the fruit is reddish on the tree.
            </p>
            <br><br>
            <h2>4) Full maturity:


            </h2><br>
            <p>In this state, the fruit is fully reddish and slightly red on the tree. Such fruits are useful to make durable materials such as ketchup, sauce, soup, chutney, etc. After removing the fruit, grading the fruit, packing it in the corrugated
                boxes.


            </p><br><br>
            <h2>Production:</h2>
            <p>The average hectare production of tomatoes is 250 to 400 quintal. The production of up to 750-800 quintals of hectare can be achieved due to excellent cultivation.</p>
        </div>
    </div>
    <div class="warp">
        <div class="contsec section-6">
            <div class="heading">
                <h1>Disease
                </h1>
            </div>
            <div class="explanation">
                <h2>1) Alternaria Blight</h2>
                <p>Symptoms Irregular leaf spots mostly appear from the marginal portion of leaves. Mostly these disease appears in the vegetative growth phase of the plant and before flowering. Symptoms of early blight appear on all above ground parts of
                    the plant



                </p>
                <h2>Management
                </h2>
                <li>Always use healthy and certified seeds collected from the disease-free area.</li>
                <li>Infected crop debris and fruits must be collected from the field and burnt.
                </li>
                <li>Summer plowing to increase the desiccation of pathogen and infected plant parts.
                </li>
                <li>Minimize relative humidity in plant canopy for preventing the infection.
                </li>
                <li>sprays of Chlorothalonil at 0.2% at 8 days interval
                </li>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsecodd section-7">
            <div class="heading">
                <h1>Disease </h1>
            </div>
            <div class="explanation">
                <h2>2) Powdery Mildew</h2>
                <p>powdery mildew infection appeared as white, chalky spots on leaves. They spread rapidly on infected leaves. The leaves turned yellow, died and drop off.





                </p><br>
                <h2>Management

                </h2>
                <li>If the disease occurs, then 0.25% sulphur mixed with water spray 25 gm in 10 liters of water 2-3 times in intervals in 10 days.
                </li>
                <li>To control it, spray 10 grams of Bavistin mixed in 10 liters of water
                </li>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsec section-8">
            <div class="heading">
                <h1>Disease
                </h1>
            </div>
            <div class="explanation">
                <h2>3) Late Blight</h2>
                <p>Disease on leaves, appear as pale green irregular spots that turn into purplish brown and later become nearly black. Margins of the spots were pale green to water soaked. Infected fruits showed characteristic brown to purple discoloration,
                    often concentrated on the sides or upper fruit surface




                </p>
                <h2>Management
                </h2>
                <li>Use and planting material from the disease-free area.
                </li>
                <li>maintain field Sanitation.
                </li>
                <li>Staking of plants which reduce Fruit touches chance to the ground
                </li>
                <li>In cloudy condition take Preventive sprays of Mancozeb 75% WP at 0.25% (2.5 gm per liter water) take this spray after 5 to 7 days interval.
                </li>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsecodd section-9">
            <div class="heading">
                <h1>Disease </h1>
            </div>
            <div class="explanation">
                <h2>4) Leaf Curl Complex</h2>
                <p>Virus-transmitted by whitefly as well as by mechanical injury. this Disease mostly appears in September to November month. Plants show stunted growth with downward rolling, curling, twisting and chlorosis leaves
                </p><br>
                <h2>Management

                </h2>
                <li>maintain field Sanitation don’t all to grow weeds.
                </li>
                <li>Use of yellow sticky cards to evacuate whitefly attack
                </li>
                <li>Spray Dimethoate 30% EC at 396 ml in 200-400 l of water/acre
                </li>
                <li>Spray Imidacloprid 17.8 SL at 60-70 ml in 200 l of water/acre or Thiamethoxam 25 WG at 80 g in 200 l of water/acre.
                </li>
            </div>
        </div>
    </div>
    <div class="warp">
        <div class="contsec section-8">
            <div class="heading">
                <h1>Disease
                </h1>
            </div>
            <div class="explanation">
                <h2>5) Damping-off</h2>
                <p>In pre-emergence phage, the young seedlings die before they reach the surface of the soil and post-emergence Infection usually occurs near to the soil level and the infected plant tissues appear soft and water-soaked. As the disease In
                    advances stage the stems become weak and collapse.


                </p>
                <h2>Management
                </h2>
                <li> Avoid poorly drained soil for tomato cultivation
                </li>
                <li>Use raised beds technique for better water drainage alsouse plastic -trays for raising seedlings
                </li>
                <li>Seed treated with captan 75% WP at 20-30 g/Kg seed
                </li>
                <li>Drench solution of Metalxyl 8% and Mancozeb 64% WP at 2 g/ liter of water in the nursery.
                </li>
            </div>
        </div>

</body>

</html>